body {
  min-height: 100vh;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  background: #0124;
}

#clock {
  font-family: 'Orbitron', sans-serif;
  font-size: 6rem;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center; 
  background: #0124;
}

.naked,
.dum {
  font-weight: bold;
  text-decoration: none;
  font-size: large;
  font-family: 'Orbitron', sans-serif;
  color:black;
  padding:10px;
}